@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

$colorA : black;
$colorB : white;
$colorC : lime;

*{
    margin: 0;
    padding: 0;    
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

body{
    background-color: $colorB;
    color: $colorB;
}

// .entry{
//     text-align: center;
//     // background-image: url("giphy(1).gif");
//     padding-top: 300px;
// }

h1{
    padding-bottom: 50px;
}

#btn-enter{
    border: none;
    background: #404040;
    color: $colorB !important;
    font-weight: 500;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#btn-enter:hover {
    color: #bb0000 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    transition: all 0.3s ease 0s;
}

button:focus{
    outline: 0;
}

.images{
    #alien, #player {
        width: 50px;
        height: 50px;
    }
}

   .images{
       #player{
        display: block;
        margin-left: 50%;
        margin-right: 50%;
        text-align: center;
        position: fixed;
        bottom: 0;

       }
   }

   .game {
       .score, .level, .lives{    
           color: $colorA;
           margin-top: 50px;
       }

   }

   